<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onclick.app.persistence.ClassService_Mapper">

<insert id="classInsert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="cidx">
	<selectKey keyProperty="cidx" resultType="int" order="AFTER"> 
		SELECT LAST_INSERT_ID();
	</selectKey>
	INSERT INTO onclick_class(cname,ccontents,cdate,csta,cfin,creyn,cweek,cseq,lidx,cnotyn,cfile,clive)
	VALUES( #{cname},
			#{ccontents},
			now(), 
			#{csta},
			#{cfin},
			#{creyn},
			#{cweek},
			(SELECT cseq FROM(SELECT IFNULL(MAX(cseq),0)+1 as cseq FROM onclick_class where cweek=#{cweek}) a),
			#{lidx},
			#{cnotyn},
			#{cfile},
			#{clive}
		)
</insert>

<insert id="stuVideoDefault" parameterType="Integer" useGeneratedKeys="true">
INSERT INTO onclick_videoattendence(sidx,cidx)
SELECT sidx, #{0} FROM onclick_enroll WHERE lidx=#{1}
</insert>	

<insert id="stuLiveDefault" parameterType="Integer" useGeneratedKeys="true">
INSERT INTO onclick_attendence(sidx,cidx)
SELECT sidx,#{0} FROM onclick_enroll WHERE lidx=#{1}
</insert>

<select id="classSelect" parameterType="Integer" resultType="cv">
SELECT 	cidx,
		cname,
		ccontents,
		cdate,
		DATE_FORMAT(csta, '%Y-%m-%d') as csta,
		DATE_FORMAT(cfin, '%Y-%m-%d') as cfin,
		cweek,
		cseq,
		cfile,
		cnotyn,
		cdelyn,
		lidx,
		creyn	
FROM onclick_class
WHERE lidx=#{lidx}
AND cdelyn='N'
ORDER BY cweek, cseq
</select>

<select id="classSelectOne" parameterType="Integer" resultType="cv">
SELECT  cidx,
		cname,
		ccontents,
		cdate,
		DATE_FORMAT(csta, '%Y-%m-%d') as csta,
		DATE_FORMAT(cfin, '%Y-%m-%d') as cfin,
		cweek,
		cseq,
		cfile,
		cnotyn,
		cdelyn,
		lidx,
		creyn	
FROM onclick_class
WHERE cidx=#{0}
</select>

<update id="classDelete" parameterType="Integer">
UPDATE onclick_class
SET cdelyn='Y' 
WHERE cidx=#{0}
</update>

<update id="classUpdate"  parameterType="HashMap">
UPDATE onclick_class
SET cname=#{cname},
	ccontents=#{ccontents},
	cdate=now(),
	csta=#{csta},
	cfin=#{cfin},
	creyn=#{creyn},
	cweek=#{cweek},
	cnotyn=#{cnotyn},
	cfile=#{cfile}
WHERE cidx=#{cidx}
</update>

<select id="classFinDash" parameterType="Integer" resultType="cv">
<![CDATA[SELECT *
FROM(
	SELECT *
	FROM onclick_class
	WHERE lidx=#{lidx}
	AND DATE_FORMAT(cfin, '%y/%m/%d') >= DATE_FORMAT(now(), '%y/%m/%d')
	AND cdelyn='N'
	ORDER BY cfin
	)c
LIMIT 0,5]]>
</select>

<select id="classAllFinDash" parameterType="Integer" resultType="cv">
<![CDATA[SELECT *
FROM(
	SELECT a.* 
	FROM onclick_class a
	JOIN onclick_enroll b
	ON a.lidx = b.lidx
	WHERE b.sidx=#{sidx}
	AND a.cdelyn='N'
    )c
LIMIT 0,5]]>
</select>

<select id="lastClassDash" parameterType="Integer" resultType="cv">
<![CDATA[SELECT *
FROM(
	SELECT a.*
	FROM onclick_class a
	JOIN onclick_videoattendence b
	ON a.cidx = b.cidx
	WHERE a.cdelyn='N'
	AND sidx=#{sidx}
	ORDER BY b.vlast DESC
     )c
LIMIT 0,5]]>
</select>

<select id="classWeekVideo" parameterType="Integer" resultType="cv">
SELECT *
FROM onclick_class
WHERE lidx=#{0}
AND cweek=#{1}
AND cdelyn='N'
AND clive='N'
ORDER BY cweek, cseq
</select>

<select id="classWeekLive" parameterType="Integer" resultType="cv">
SELECT *
FROM onclick_class
WHERE lidx=#{0}
AND cweek=#{1}
AND cdelyn='N'
AND clive='Y'
ORDER BY cweek, cseq
</select>
</mapper>