<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onclick.app.persistence.FileService_Mapper">

<select id="taskFileSelectAll" parameterType="Integer" resultType="fv">
SELECT *
FROM onclick_file
WHERE fdelyn='N'
AND fidx=#{fidx}
</select>

<select id="taskFileDownload" parameterType="Integer" resultType="HashMap">
SELECT FSAVEDNAME, FORIGINNAME
FROM onclick_file
WHERE fdelyn='N'
AND fidx=#{fidx}
</select>

<update id="fileDelete" parameterType="Integer">
UPDATE onclick_file
SET fdelyn='Y'
WHERE fidx=#{fidx}
</update>

</mapper> 