<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onclick.app.persistence.LecNoticeService_Mapper">

<select id="lecNoticeSelectAll" parameterType="Integer" resultType="lnv">
SELECT * 
FROM onclick_lecnotice
WHERE lndelyn='N'
AND lidx=#{lidx}
ORDER BY lndate DESC
</select>

<select id="lecNoticeSelectDash" parameterType="Integer" resultType="lnv">
<![CDATA[SELECT *
FROM(
	 SELECT * 
	 FROM onclick_lecnotice
	 WHERE lndelyn='N'
	 AND lidx=#{lidx}
	 ORDER BY lndate DESC
     )
WHERE ROWNUM <= 5 ]]>
</select>

<select id="lecNoticeContent" parameterType="Integer" resultType="lnv">
SELECT *
FROM onclick_lecnotice
WHERE lndelyn='N'
AND lnidx=#{lnidx}
</select>


<insert id="lecNoticeInsert" parameterType="HashMap">
	<selectKey resultType="Integer" keyProperty="lnidx" order="AFTER">
		SELECT lnidx_seq.CURRVAL FROM DUAL
	</selectKey>
INSERT INTO onclick_lecnotice (LNIDX,LNSUBJECT,LNCONTENTS,LNDATE,LIDX,FIDX)
VALUES(lnidx_seq.nextval,#{lnsubject},#{lncontents},sysdate,#{lidx},#{fidx})
</insert>

<update id="lecNotModify" parameterType="HashMap">
UPDATE onclick_lecnotice
SET LNSUBJECT=#{lnsubject},LNCONTENTS=#{lncontents}
WHERE lnidx=#{lnidx}
</update>

<update id="lecNotAndFileModify" parameterType="HashMap">
UPDATE onclick_lecnotice
SET LNSUBJECT=#{lnsubject},LNCONTENTS=#{lncontents}, FIDX=#{fidx}
WHERE lnidx=#{lnidx}
</update>

<update id="lnExFileDelete" parameterType="Integer">
UPDATE onclick_lecnotice
SET FIDX=null
WHERE lnidx=#{lnidx}
</update>

<update id="lecNoticeDelete" parameterType="Integer">
UPDATE onclick_lecnotice
SET lndelyn='Y'
WHERE lnidx=#{lnidx}
</update>

</mapper>