<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onclick.app.persistence.TaskService_Mapper">

<select id="taskContent" parameterType="Integer" resultType="tv">
SELECT *
FROM onclick_taskupload
WHERE tudelyn='N'
AND tuidx=#{tuidx}
</select>

<select id="taskSelectAll" parameterType="Integer" resultType="tv">
SELECT *
FROM onclick_taskupload
WHERE tudelyn='N'
AND lidx=#{lidx}
</select>

</mapper> 