<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onclick.app.persistence.TaskService_Mapper">

<select id="taskContent" parameterType="int" resultType="tv">
select *
from onclick_taskupload
where tudelyn='n'
and tuidx=#{tuidx}
</select>

</mapper> 