<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onclick.app.persistence.TaskService_Mapper">

<select id="taskDashSelectAll" parameterType="Integer" resultType="tv">
<![CDATA[SELECT *
FROM(
	 SELECT tuidx,
			tuname,
			TO_CHAR(tustart, 'YYYY-MM-DD') as tustart,
			TO_CHAR(tufin, 'YYYY-MM-DD') as tufin,
			TO_CHAR(tudate, 'YYYY-MM-DD') as tudate,
			tunotyn,
			tudelyn,
			lidx,
			tucontents,
			fidx
	 FROM onclick_taskupload
	 WHERE tudelyn='N'
	 AND lidx=#{lidx}
	 ORDER BY tudate DESC
     )
WHERE ROWNUM <= 5 ]]>
</select>

<select id="taskSelectOne" parameterType="Integer" resultType="tv">
SELECT tuidx,
		tuname,
		TO_CHAR(tustart, 'YYYY-MM-DD') as tustart,
		TO_CHAR(tufin, 'YYYY-MM-DD') as tufin,
		TO_CHAR(tudate, 'YYYY-MM-DD') as tudate,
		tunotyn,
		tudelyn,
		lidx,
		tucontents,
		fidx
FROM onclick_taskupload
WHERE tudelyn='N'
AND tuidx=#{tuidx}
</select>

<select id="taskSelectAll" parameterType="Integer" resultType="tv">
SELECT tuidx,
		tuname,
		TO_CHAR(tustart, 'YYYY-MM-DD') as tustart,
		TO_CHAR(tufin, 'YYYY-MM-DD') as tufin,
		TO_CHAR(tudate, 'YYYY-MM-DD') as tudate,
		tunotyn,
		tudelyn,
		lidx,
		tucontents,
		fidx
FROM onclick_taskupload
WHERE tudelyn='N'
AND lidx=#{lidx}
ORDER BY tudate DESC
</select>

<insert id="taskFileInsert" parameterType="HashMap">
	<selectKey resultType="Integer" keyProperty="fidx" order="AFTER">
		SELECT fidx_seq.CURRVAL FROM DUAL
	</selectKey>
INSERT INTO onclick_file (FIDX,FSAVEDNAME,FORIGINNAME,FTYPE,FROUTE)
VALUES (fidx_seq.nextval,#{savedName},#{originName},#{originalFileExtension},#{route})
</insert>

<insert id="taskInsert" parameterType="HashMap">
	<selectKey resultType="Integer" keyProperty="tuidx" order="AFTER">
		SELECT tuidx_seq.CURRVAL FROM DUAL
	</selectKey>
INSERT INTO onclick_taskupload (TUIDX,TUNAME,TUSTART,TUFIN,TUDATE,TUNOTYN,LIDX,TUCONTENTS,FIDX)
VALUES (tuidx_seq.nextval,#{tusubject},#{tustart},#{tufin},sysdate,#{tunotyn},#{lidx},#{tucontents},#{fidx})
</insert>

<insert id="stuTaskDefault" parameterType="Integer">
INSERT INTO onclick_stutask(TIDX, SIDX, TUIDX)
SELECT tidx_seq.nextval, SIDX, #{1}  FROM onclick_enroll WHERE lidx=#{0}
</insert>

<update id="taskModify" parameterType="HashMap">
UPDATE onclick_taskupload
SET TUNAME=#{tusubject}, TUSTART=#{tustart}, TUFIN=#{tufin}, TUNOTYN=#{tunotyn}, TUCONTENTS=#{tucontents}
WHERE tuidx=#{tuidx}
</update>

<update id="taskFileModify" parameterType="HashMap">
UPDATE onclick_taskupload
SET TUNAME=#{tusubject}, TUSTART=#{tustart}, TUFIN=#{tufin}, TUNOTYN=#{tunotyn}, TUCONTENTS=#{tucontents}, FIDX=#{fidx}
WHERE tuidx=#{tuidx}
</update>

<update id="tExFileDelete" parameterType="Integer">
UPDATE onclick_taskupload
SET FIDX=null
WHERE tuidx=#{tuidx}
</update>

<update id="taskDelete" parameterType="Integer">
UPDATE onclick_taskupload
SET tudelyn='Y'
WHERE tuidx=#{tuidx}
</update>

<update id="stuTaskDelete" parameterType="Integer">
UPDATE onclick_stutask
SET tdelyn='Y'
WHERE tuidx=#{tuidx}
</update>

<select id="taskSubmitList" parameterType="Integer" resultType="std">
SELECT *
FROM onclick_stutask
WHERE tdelyn='N'
AND tuidx=#{tuidx}
</select>

</mapper> 